<section class="header" style="background-image: url('./dist/assets/img/header.jpg')">
    <img class="header__vector" src="./dist/assets/img/icon/Vector.png" alt='photo' />
    <div class="header__vector-2"></div>
    <div  class="header__icon-wrap"> 
        <img class="header__icon" src="./dist/assets/img/icon/tw.svg" alt='photo' />
        <img class="header__icon" src="./dist/assets/img/icon/fb.svg" alt='photo' />
    </div>
    <div class="header__content-wrap">
        <h2 class="header__title">Since 1982</h2>
        <div class="header__text">Specialist custom designers </br>and manufacturers</div>
        <button class="header__btn">Shop online</button>
    </div>   
    <div class="header__content-2-wrap">
        <h2 class="header__title">About us</h2>
        <div class="header__text header__text_size">We specialise as custom designers and makers of free standing timber furniture. Trading since 1982, we have built an excellent reputation for 
        </br>quality custom 
        </br>made furniture.</div>
        <button class="header__btn">Read more</button>
    </div>   
    <img class="header__arrow2" src="./dist/assets/img/icon/arrow2.svg" alt='arrow' />
</section>  